<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1 id = "about">About Peter Parker</h1>
    <p id ="info">Peter Parker, el héroe tras la máscara de Spider-Man, es como ese amigo de la infancia al que siempre puedes contarle tus problemas. Es un chico simpático y algo torpe, ¡pero eso lo hace aún más encantador! Con su cabello alborotado y sus lentes, podría pasar desapercibido en la multitud, pero detrás de esa apariencia se esconde un joven brillante y lleno de corazón.
      Peter es un estudiante aplicado y un genio de la ciencia, lo que lo convierte en un cerebrito en el buen sentido. A pesar de las adversidades que enfrenta en su vida personal, siempre encuentra tiempo para luchar contra los villanos de Nueva York y proteger a los inocentes. Es el vecino amistoso que todos quisiéramos tener y, por supuesto, ¡un auténtico ícono del cómic!</p>
      <div id="img">
        <img src="./images/peterdance.gif" alt="peter-parker-dance" width="550">
      </div>
      <footer>
        <p id="contacto">Estoy a tu disposición 24/7 en mi correo: spiderman@peterparker.com</p>
      </footer>
  </body>
</html>
