<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/styles/styles.css" />
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1 id="title">Bienvenidos al Spider-Verse!</h1>

    <h3>"Web" dedicada a nuestro amigo y vecino Spiderman</h3>
    <p id = "subtitle">¡Bienvenido a la web más arácnida de la red, amigo! Aquí, en el emocionante rincón de Spider-Man, te sumergirás en el fascinante mundo de nuestro vecino favorito. Prepárate para balancearte entre rascacielos y desafiar a los malos con tu sentido arácnido bien afilado.
      Exploraremos la historia de Peter Parker, sus increíbles trajes, y los villanos que le hacen la vida imposible. Además, tendrás acceso a las mejores viñetas y las anécdotas más jugosas del hombre araña.
      Así que, ¡agarra tu lanzaredes virtual y únete a la aventura! ¿Estás listo para ser un auténtico trepamuros? ¡Pues cuelga tu abrigo y quédate un rato!</p>
  </body>
</html>
