<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/styles/styles.css" />
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1 id="title">Bienvenidos al Spider-Verse!</h1>

    <p>"Web" dedicada a nuestro amigo y vecino Spiderman</p>
  </body>
</html>
