<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
</head>
<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photo Gallery</a>
      </nav>


    <h1 id ="titulo-galeria">Galería de trabajos realizados</h1>


    <img id ="fotografo"src="./images/PETER-PARKER-JOBS-Photographer.avif">

    <img id ="stark"src="./images/spider-man-iron-man-header.avif">

    <img id = "avenger"src="./images/PETER-PARKER-JOBS-Avenger.avif">


   




    
</body>
</html>