<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>

    <h1 id="título-trabajos">Trabajos recientes</h1>

    <div id = "lista-trabajos">
        <h2>Fotógrafo Freelance</h2>

        <p>

         La carrera más conocida y frecuentemente rentable de Peter Parker fue la de fotógrafo freelance, que comenzó cuando vio un anuncio del Daily Bugle en el que se pedían fotos de Spider-Man que, obviamente, él podía conseguir fácilmente. Spider-Man incluso añadiría tecnología adicional a su traje a lo largo de los años, como una minicámara o un sensor de rastreo para que su cámara pudiera mantenerle enfocado.
            
        Cuando Jameson se convirtió en alcalde de Nueva York, Peter fue contratado como fotógrafo oficial del alcalde, aunque su identidad fue utilizada por el Camaleón para casi volar el ayuntamiento. Sería despedido públicamente por Jameson después de que Peter trucara una foto para intentar recuperar el apoyo público a Jameson, que entonces lo desenmascaró.</p>

        <h2>Asistente personal de Tony Stark</h2> 

        <p>Poco después de que Spider-Man empezara a trabajar con los Vengadores, Peter Parker y Tony Stark empezaron a formar un estrecho vínculo que pronto se hizo oficial cuando se necesitó una excusa para que Peter Parker y su familia vivieran en la Torre de los Vengadores.

        Stark contrató a Peter como su ayudante personal y comenzó a ser mentor del joven héroe, al que creó un uniforme de alta tecnología que se conoció como el traje Iron Spider. Esta relación más estrecha llevó a Spider-Man a desenmascararse públicamente durante Civil War, aunque eso acabaría poniendo fin a su relación profesional, ya que cayeron en bandos diferentes de la batalla.</p>

        <h2>Vengador</h2>
        <p>Spider-Man fue un superhéroe en solitario durante la mayor parte de su carrera, aunque al principio intentó unirse a los Cuatro Fantásticos con la esperanza de recibir un sueldo por su lucha contra el crimen disfrazado. Sin embargo, no fue hasta que se unió a los Vengadores años más tarde cuando empezó a cobrar por su trabajo como Spiderman.

        Cuando se unió por primera vez a los Nuevos Vengadores, el equipo estaba en horas bajas y no había dinero, pero después de que Tony Stark y Steve Rogers formaran un nuevo equipo en la etapa de Jonathan Hickman en los Vengadores, Spiderman volvió fácilmente al equipo con la promesa de una compensación para que pudiera seguir salvando el día como uno de los mayores héroes de Marvel.</p>
    
            

    </div>
  </body>
</html>
