@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Play:wght@400;700&family=Righteous&family=Roboto:wght@900&display=swap");

body {
  background-image: url("/images/background.jpg");
  font-family: "Bebas Neue", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  text-align: center;
  color: white;
  font-size: 150px;
  margin-bottom: 30px;
  
}
#about{
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}
#info {
  color: white;
  text-align: center;
  font-weight: lighter;
}

#img{
display: flex;
justify-content: center;

}

h3 {
  color: rgb(196, 199, 54);
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}
#subtitle {
  color: white;
  text-align: center;
  font-weight: lighter;
}
#contacto{
  display: flex;
  justify-content: center;
  color: rgb(196, 199, 54);
  text-align: center;
  font-weight: lighter;
  margin-top: 100px;
  
}

#título-trabajos{

    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;

}


#lista-trabajos{

  margin-left: 50px;
  margin-right: 50px;

}


#lista-trabajos h2{

    color: rgb(196, 199, 54);
    padding-bottom: 15px;

}


#lista-trabajos p{

    color: white;
    padding-bottom: 20px;

}

#titulo-galeria{

    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;

}

#fotografo,#stark,#avenger{

        margin-left: 25%;
        padding-bottom: 50px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
